<div class="ui-g">
  <div class="container">
    <div class="ui-g-12 ui-md-12">
      <h1>{{editando ? 'EDIÇÃO' : 'CADASTRO'}} GRUPO ECOLÓGICO</h1>
    </div>
          <p-fieldset legend="Cadastro grupo ecológico" class="ui-g-12 ui-md-12">
            <form #listaGrupoEcologico="ngForm" autocomplete="on" (ngSubmit)="adicionarGrupoEcologico(listaGrupoEcologico)">

          <div class="ui-g-12  ui-md-12 ui-fluid">
            <label>Nome:</label>
            <input id="input" name="nmGrupoEcologico" type="text" pInputText ngModel #nome="ngModel" [(ngModel)]="cadGrupoEcologicoSalva.nmGrupoEcologico" required minlength="10" placeholder="Nome do grupo" class="ng-dirty ng-invalid">
            <div *ngIf= "nome.hasError('required') && nome.dirty">
            <p-message severity="error" text="Nome da grupo é obrigatorio"></p-message>
        </div>
      </div>

  <div class="ui-g-12">
  <button pButton type="submit" label="salvar" ></button>
  <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
  </div>
  <div *ngIf="editando" class="ui-g-2 ui-md-2 ui-fluid">
    <button type="button" pButton label="Sair da edição" routerLink="/grupo-ecologico/cadastro"></button>
  </div>
  </form>
      </p-fieldset>
  </div>



</div>

<app-grupo-pesquisa></app-grupo-pesquisa>
