<div class="ui-g">
    <div class="container">
          <div class="ui-g-12">
            <h1> DANO {{ 'CADASTRO'}}</h1>
        </div>

          <p-fieldset legend="Cadastro de Dano" class="ui-g-11 ui-md-11">
              <div class="ui-g-12  ui-md-7 ui-fluid">
                <label>Abreveatura</label>
                <input id="input" name="nmClassefloresta" type="text" pInputText ngModel #nome="ngModel" required minlength="10" placeholder="Abreveatura" class="ng-dirty ng-invalid">
                <div *ngIf= "nome.hasError('required') && nome.dirty">
                  <p-message severity="error" text="Nome completo é obrigatorio"></p-message>
              </div>
            </div>
            <div  class="ui-g-12  ui-md-2" style="margin-top: 20px;">
              <p-fileUpload mode="basic" name="anexo" chooseLabel="Imagem" auto="true"  accept="image/*" maxFileSize="1000000000"
              [url]=""></p-fileUpload>
            </div>

            <div class="ui-g-12  ui-md-10">
             <h3 class="first">Dano</h3>
            <textarea rows="5" cols="100" pInputTextarea></textarea>
            </div>
        </p-fieldset>

      </div>
  </div>
<app-dano-pesquisa></app-dano-pesquisa>
