<div class="ui-g">
  <div class="container">
     <p-fieldset legend="AMF" class="ui-g-12 ui-md-12">
       <form (ngSubmit)="adicionarParcela(geracao)" #geracao="ngForm">
        <div class="ui-fluid ui-g-6 ui-md-6" >
          <label>AMF: </label>
          <p-dropdown name="area" [options]="area" [autoWidth]="false" placeholder= "Selecione a area"
           filter="true" required [(ngModel)]="geraParcelESubParcelaSalva.cdArea"></p-dropdown>
        </div>

        <div class="ui-fluid ui-g-6 ui-md-6" >
          <label>Tipo padrão de parcela: </label>
          <p-dropdown name="listaTipoparcela" [options]="listaTipoparcela" [autoWidth]="false" placeholder= "Selecione a area"
           filter="true" required [(ngModel)]="geraParcelESubParcelaSalva.cdTipoParcela"></p-dropdown>
        </div>



        <div class="ui-fluid ui-g-6 ui-md-6">
           <label>Numero da primeira parcela: </label>
           <input type="number" pInputText  [(ngModel)]="geraParcelESubParcelaSalva.cdParcelaInicio" name="cdParcelaInicio">
        </div>

        <div class="ui-fluid ui-g-6 ui-md-6">
          <label>Quantidade de parcelas a gerar: </label>
          <input type="number" pInputText name="nrParcelas" [(ngModel)]="geraParcelESubParcelaSalva.nrParcelas">
       </div>

       <div class="ui-fluid ui-g-6 ui-md-6">
        <label>Quantidade de subparcelas para cada parcela: </label>
        <input type="number" pInputText name="nrSubParcelasPorParcelas" [(ngModel)]="geraParcelESubParcelaSalva.nrSubParcelasPorParcelas">
     </div>

     <div class="ui-g-12">
      <button pButton type="submit" icon="pi pi-check" label="Gerar parcelas e subparcelas"></button>
      <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
      </div>
      </form>
    </p-fieldset>
 </div>
</div>
