<div class="ui-g">
  <div class="container">
      <div class="ui-g-12 ui-md-12">
         <h1>IDENTIFICADOR DE PARCELAS E SUBPARCELAS</h1>
        </div>

      <p-panel class="ui-g-12 ui-md-12">
          <p-header class="ui-panel-title">Identificador de Parcelas e Subparcelas
            <button pButton label="Registrar Subparcelas sem individuos amostrados"
            icon="pi pi-plus" style="float : right;" class="ui-md-4 ui-g-4"></button>
          </p-header>
                     <p-fieldset legend="Cadastro" >
                        <div class="ui-fluid ui-g-12 ui-md-12" >
                          <label>Nome da AMF: </label>
                            <input type="text" name="" pInputText placeholder="Área de majeno">
                        </div>

                      <div class="ui-fluid ui-g-3 ui-md-3" >
                          <label>Parcela:</label>
                          <input type="text" name="" pInputText placeholder="Parcela"/>

                      </div>

                      <div class="ui-fluid ui-g-6 ui-md-6">
                          <label>Tipo Parcela:</label>
                            <input type="text" name="" pInputText placeholder="Tipo Parcela" />
                      </div>
                      <div class="ui-fluid ui-g-3 ui-md-3" >
                        <label>SubParcela:</label>
                        <input type="text" name="" pInputText placeholder="SubParcela"/>
                    </div>

                    <div class="ui-fluid ui-g-3 ui-md-3" >
                      <label>Medição:</label>
                      <input type="text" name="" pInputText placeholder="Medição"/>
                  </div>

                  <div class="ui-fluid ui-g-6 ui-md-6">
                    <label>Classe Tamanho:</label>
                    <input type="text" name="" pInputText placeholder="Classe Tamanho" />
              </div>

              <div class="ui-fluid ui-g-3 ui-md-3" >
                <label>Classe Floresta:</label>
                <input type="text" name="" pInputText placeholder="Classe Floresta"/>
            </div>

            <div class=" ui-fluid ui-g-6 ui-md-6">
                <label>Identificador:</label>
                <input type="text" name="" pInputText  placeholder="Responsavel"/>
            </div>

            <div class=" ui-fluid ui-g-6 ui-md-6">
              <label>Responsável:</label>
              <input type="text" name="" pInputText  placeholder="Responsavel"/>
            </div>

              <div class="ui-g-12">
                  <button pButton type="submit" label="Salvar" ></button>
                  <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
              </div>


                     </p-fieldset>

      </p-panel>

    </div>
</div>

 <app-identificador-pesquisa></app-identificador-pesquisa>

