
    <div class="ui-g">
          <div class="container">
              <div class="ui-g-12 ui-md-12">
                <h1>IMPRESSÃO FICHA DE CAMPO</h1>
              </div>
              <p-fieldset legend="Classe de Tamanho" class="ui-g-12 ui-md-12">
                <div class="ui-fluid ui-g-12 ui-lg-12 ui-md-12" >
                  <label>Classe de tamanho: </label>
                  <p-dropdown name="classeInd" [options]="classeInd" [autoWidth]="false" placeholder= "Selecione a Classe"
                  filter="true" required></p-dropdown>
                </div>
              </p-fieldset>


              <div class="ui-g-6 ui-md-6">
                  <p-fieldset legend="Opção">
                    <div class="row radiobutton-margin">
                      <p-radioButton name="valor" [value]="this.valor" aria-selected="true" label="Em branco" inputId="opt1"></p-radioButton>
                    </div>
                    <div class="row">
                      <p-radioButton name="valor" [value]="this.valor" label="Preenchido" inputId="opt1"></p-radioButton>
                    </div>
                  </p-fieldset>
              </div>


              <div class="ui-g-6 ui-md-6">
                <p-fieldset legend="Medida em">
                  <div class="row radiobutton-margin">
                    <p-radioButton name="valor" [value]=""  label="Diâmetro(mm)" inputId="opt1"></p-radioButton>
                  </div>
                  <div class="row">
                    <p-radioButton name="valor" [value]=""  label="Circunferência(mm)" inputId="opt1"></p-radioButton>
                  </div>
                </p-fieldset>
            </div>

            <div class="ui-g-12 ui-md-12" *ngIf="valor">
              <p-fieldset legend="Medida em">
                <div class="row">

                </div>
              </p-fieldset>
          </div>

            <div class="ui-g-6 ui-md-6">
             <p-button icon="pi pi-check" iconPos="right" label="Processar"></p-button>
            </div>
      </div>

    </div>

