<div class="container">
  <p-fieldset legend="Classe de tamanho Cadastradas">

    <div class="ui-g">
      <p-table [value]="classedeTamanho"  [contextMenu]="classedeTamanho" [paginator]="true"   [rows]="filtro.size" [responsive]="true" [lazy]="true"
    [totalRecords]="totalRegistroTamanho" (onLazyLoad)="aoMudarPaginaEspecieUso($event)" #tabela>
        <ng-template pTemplate="header" >
            <tr>

              <th>Classe de Tamanho</th>
              <th>Diametro m|n Fuste</th>
              <th>Diametro m|x Fuste</th>
              <th>Altura m|n</th>
              <th>Altura m|x</th>
              <th>Comp Parcela</th>
              <th>Larg Parcela</th>


              <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classedeTamanho>

            <tr>
              <td pEditableColumn>{{classedeTamanho.cdEquacao.nmEquacao}}</td>
              <td pEditableColumn>{{classedeTamanho.dapMinimoComFustemm}}</td>
              <td pEditableColumn>{{classedeTamanho.dapMaximoComFustemm}}</td>
              <td pEditableColumn>{{classedeTamanho.alturaMinimam}}</td>
              <td pEditableColumn>{{classedeTamanho.alturaMaximam}}</td>
              <td pEditableColumn>{{classedeTamanho.comprimentoParcelam}}</td>
              <td pEditableColumn>{{classedeTamanho.larguraParcelam}}</td>



              <td style="text-align: center;"><button pButton icon="pi pi-trash" style="margin-right: 10px;"
                pTooltip="remover" class="ui-button-danger" tooltipPosition="left" (click)="confirmarExclusaoMedicao(classedeTamanho)">
              </button>
              <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/uso-especie']"></button></td>

        </tr>
      </ng-template>
    </p-table>

  </div>

</p-fieldset>

</div>
