
<div class="container">
  <p-fieldset legend="Danos Cadastradas">
    <div class="ui-g">
      <div class="ui-g-12">
          <form  autocomplete="on" >
              <div class="ui-g-12 ui-fluid">
                  <label style="display: block">Pesquisar o nome do Dano: </label>
                  <div class="ui-g-12 ui-md-7">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                          <input type="text" pInputText name="nmClassefloresta"  placeholder="Pesquisar">
                      </div>
                  </div>

              </div>
          </form>
      </div>
    </div>

    <div class="ui-g-12">


      <p-dataList  [value]="" [paginator]="true"  [rows]="5"  [lazy]="true" #tabela
     [totalRecords]="">
        <p-header>Dano</p-header>
        <ng-template let-floresta pTemplate="item">
            <div class="ui-g ui-fluid floresta-item borda3">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                <strong><span>
                  <img src ="" height="175" width="140"  onerror="this.style.display='none'"/>
                </span></strong>
                </div>
                <div class="ui-g-12 ui-md-9 floresta-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Código: </div>
                        <div class="ui-g-10 ui-sm-6"><strong></strong></div>
                        <div class="ui-g-2 ui-sm-6">Nome: </div>
                        <div class="ui-g-10 ui-sm-6"><strong></strong></div>
                        <div class="ui-g-2 ui-sm-8" style="
                        margin-right: 2px;">Exclusão/Edição/Visualização</div>
                        <div class="ui-g-10 ui-sm-6"><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"
                      ></button>
                          <button pButton icon="pi pi-pencil" pTooltip="editar"></button>
                          <button pButton icon="pi pi-pencil" class="ui-button-secondary"  pButton icon="pi pi-search" pTooltip="vizualizar"  style="margin-left: 10px;"></button>
                        </div>
                         <div >
                        <p-dialog header="Dano"  showEffect="fade">
                          <img src =""/>
                      </p-dialog>
                      </div>
                    </div>
                </div>
            </div>
        </ng-template>
      </p-dataList>
  </div>
</p-fieldset>





</div>
