
    <div class="ui-g">
      <div class="container">
          <div class="ui-g-12 ui-md-12">
            <h1>IMPRESSÃO FICHA DE CAMPO</h1>
          </div>

          <div class="ui-g-6 ui-md-6">
              <p-fieldset legend="Opção">
                <div class="row radiobutton-margin">
                  <p-radioButton name="valor" [value]="" aria-selected="true" label="Em branco" (click)="this.isButtonVisible = true" inputId="opt1"></p-radioButton>
                </div>
                <div class="row">
                  <p-radioButton name="valor" [value]=""  (click)="this.isButtonVisible = false" label="Preenchido" inputId="opt1"></p-radioButton>
                </div>
              </p-fieldset>
          </div>


          <div class="ui-g-6 ui-md-6">
            <p-fieldset legend="Medida em">
              <div class="row radiobutton-margin">
                <p-radioButton name="valor" [value]=""  label="Diâmetro(mm)" inputId="opt1"></p-radioButton>
              </div>
              <div class="row">
                <p-radioButton name="valor" [value]=""  label="Circunferência(mm)" inputId="opt1"></p-radioButton>
              </div>
            </p-fieldset>
        </div>

        <div class="ui-g-12 ui-md-12" *ngIf="!this.isButtonVisible">
          <p-fieldset legend="Parametros">

            <div class="row">
              <div class="ui-fluid ui-g-12 ui-lg-12 ui-md-12" >
                <label>Area de manejo florestal(AMF): </label>
                <p-dropdown name="classeInd" [options]="" [autoWidth]="false" placeholder= "Selecione a area"
                filter="true" required></p-dropdown>
              </div>

              <div class="ui-fluid ui-g-12 ui-lg-4 ui-md-4" >
                <label>Medição: </label>
                <p-dropdown name="classeInd" [options]="" [autoWidth]="false" placeholder= "Selecione a medição"
                filter="true" required></p-dropdown>
              </div>
              <div class="ui-fluid ui-g-12 ui-lg-4 ui-md-4" >
                <label>Parcela: </label>
                <p-dropdown name="classeInd" [options]="" [autoWidth]="false" placeholder= "Selecione a parcela"
                filter="true" required></p-dropdown>
              </div>
              <div class="ui-fluid ui-g-12 ui-lg-4 ui-md-4" >
                <label>Subparcela: </label>
                <p-dropdown name="classeInd" [options]="" [autoWidth]="false" placeholder= "Selecione a subparcela"
                filter="true" required></p-dropdown>
              </div>

            </div>
          </p-fieldset>
      </div>

        <div class="ui-g-6 ui-md-6">
         <p-button icon="pi pi-check" iconPos="right" label="Processar"></p-button>
         <button pButton  icon="pi pi-sign-out" type="reset" label="Sair" class="ui-button-secondary" style="margin-left: 10px;" [routerLink]="['/dashboard']"></button>

        </div>
  </div>

</div>

