<div class="ui-g">
  <div class="container">
    <div class="ui-g-12">
      <h1>{{editando ? 'EDIÇÃO' : 'CADASTRO'}} CLASSE FLORESTA</h1>
    </div>
          <p-fieldset legend="Cadastro nova Floresta" class="ui-g-12 ui-md-12">
          <form #floresta="ngForm" autocomplete="on" (ngSubmit)="salvar(floresta)">
            <div class="ui-g-12  ui-md-10 ui-fluid">

              <label>Nome</label>
              <input id="input" name="nmClassefloresta" type="text" pInputText ngModel #nome="ngModel" [(ngModel)]="classeflorestaSalva.nmClassefloresta" required  placeholder="Nome completo" class="ng-dirty ng-invalid">
              <div *ngIf= "nome.hasError('required') && nome.dirty">
              <p-message severity="error" text="Nome completo é obrigatorio"></p-message>
            </div>
        </div>
        <div *ngIf="editando" class="ui-g-12  ui-md-2" style="margin-top: 20px;">
          <p-fileUpload mode="basic"  name="anexo" chooseLabel="Imagem"   accept="image/*" maxFileSize="1000000000"
          [url]="urlUploadAnexo"></p-fileUpload>
        </div>


        <div class="ui-g-5  ui-md-12">
          <button pButton type="submit" label="salvar" [disabled]="!classeflorestaSalva.nmClassefloresta" ></button>
          <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
          </div>
          <div *ngIf="editando" class="ui-g-4 ui-md-2 ui-fluid">
            <button type="button" pButton label="Sair da edição" routerLink="/floresta/cadastro"></button>
          </div>
          </form>



      </p-fieldset>
  </div>

</div>


<app-pesquisa-floresta></app-pesquisa-floresta>

