

<div class="ui-g">
    <div class="container">
      <div class="ui-g-12">
        <h1>{{editando ? 'EDIÇÃO ': 'CADASTRO'}} CLASSE DE IDENTIFICAÇÃO DO FUSTE </h1>
        </div>
        <form (ngSubmit)="salvar(cif)" #cif="ngForm" autocomplete="on">
       <p-fieldset legend="Classe de identificação do fuste">
              <div class="ui-fluid ui-g-12 ui-md-7">
                 <label>Classe de tamanho de indiuvíduo: </label>
                   <p-dropdown name="classeInd" [options]="classeInd" [(ngModel)]="invContCIFSalva.cdClasseTamanho.cdClasseTamanho" [autoWidth]="false" placeholder= "Selecione a classe de tamanho:"
                          filter="true">
                        </p-dropdown>
                    </div>

                      <div class="ui-g-12  ui-md-7 ui-fluid">
                        <label> Identificação do fuste:</label>
                        <input id="input" name="nmCif" type="text" pInputText ngModel #nome="ngModel"  [(ngModel)]="invContCIFSalva.nmCif" required minlength="10" placeholder=" identificação do fuste" class="ng-dirty ng-invalid" >
                        <div *ngIf= "nome.hasError('required') && nome.dirty">
                          <p-message severity="error" text="Nome completo é obrigatorio"></p-message>
                      </div>
                    </div>
                </p-fieldset>
                        <p-fieldset legend="Classe de identificação do fuste">
                              <div class="ui-g-5 ui-md-5">
                                  <div class="row radiobutton-margin">
                                    <p-checkbox name="lgViva"  binary="true" [(ngModel)]="invContCIFSalva.lgViva" label="Indivíduo vivo"></p-checkbox>
                                  </div>
                                  <div class="row radiobutton-margin">
                                    <p-checkbox name="lgDesaparecida"  binary="true" [(ngModel)]="invContCIFSalva.lgDesaparecida" label="Indivíduo desaparecido"></p-checkbox>
                                </div>
                              </div>
                              <div class="ui-g-5 ui-md-5">
                                  <div class="row radiobutton-margin">
                                    <p-checkbox name="lgEgressa" binary="true" [(ngModel)]="invContCIFSalva.lgEgressa" label="Indivíduo egresso"></p-checkbox>
                                  </div>
                                  <div class="row radiobutton-margin">
                                    <p-checkbox name="lgTemDescricaoFuste" binary="true" [(ngModel)]="invContCIFSalva.lgTemDescricaoFuste" label="Possui descrição de fuste"></p-checkbox>
                                  </div>

                            </div>
                            <div class="ui-g-12">
                              <button pButton type="submit" label="salvar" [disabled]=" "></button>
                              <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
                              </div>

                              <div *ngIf="editando" class="ui-g-4 ui-md-2 ui-fluid">
                                <button type="button" pButton label="Sair da edição" routerLink="/identificacao-fuste/cadastro"></button>
                              </div>

                  </p-fieldset>
            </form>
         </div>
     </div>



<app-pesquisa-cif></app-pesquisa-cif>


