

 <div class="ui-g">
  <div class="container">


    <h1>Manutenção da Lista de Espécies</h1>

      <p-fieldset legend="Cadastro Lista de Espécies" class="ui-g-12 ui-md-12 ui-lg-12">
         <form autocomplete="off" #Listaespecie="ngForm" (ngSubmit)="salvar(Listaespecie)">
          <div class="class= ui-g-7 ui-md-7 ui-fluid">
            <label>Nome: </label>
            <input type="text" name="nmListaEsp" placeholder="Nome lista" pInputText [(ngModel)]="listaEspecieSalva.nmListaEsp">
           </div>
           <div class="ui-g-5 ui-fluid">
            <label>Empresas:</label>
              <p-dropdown name="empresa"  [options]="empresas" [autoWidth]="false"
              placeholder= "Selecione a empresa"  filter="true" [(ngModel)]="listaEspecieSalva.cdEmpresa.cdEmpresa" required></p-dropdown>
          </div>


          <div class="ui-g-1  ui-md-1">
            <button type="submit" pButton   label="Salvar" class="ui-button-success"[disabled]="!listaEspecieSalva.nmListaEsp"></button>
          </div>
          <div *ngIf="editanto" class="ui-g-2 ui-md-2">
            <strong><a routerLink="/lista-especie/cadastro"><button type="button" pButton label="Sair da edição"></button></a></strong>
          </div>
        </form>
        </p-fieldset>

    </div>
  </div>

<app-especie-pesquisa></app-especie-pesquisa>
