.navbar {
padding: 10px 0;


}

.navbar-toggle {
 color: #fff;
 margin-left: 20px
}


.navbar-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 9998;
  list-style: none;

}

.navbar-usuario{

  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
  padding: 15px;
  padding-top: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(253, 245, 230, 0.247);
}

.navbar-menuitem{
  padding: 15px;

}

.navbar-menuitem a {

   color: #c0bbb7;
   text-decoration: none;
}

.navbar-menuitem a:hover{
  color:#fff;
}
