.testemunha {
  margin-left: 50px;
}
.cordenadas {
  margin-bottom: 10px;
}
.cordenadas-marginTop {
  margin-top: 36px;
}

.cordenadas-marginTop2 {
  margin-top: 19px;
}

.cordenadas-marginTopTitle {
  margin-top: 17px;
}
