<div class="ui-g">
  <div class="container">
      <div class="ui-g-12 ui-md-12">
         <h1>PARCELA</h1>
        </div>


              <p-tabMenu [model]="items" [activeItem]="activeItem">
              </p-tabMenu>
              <form autocomplete="off" #parcela="ngForm" (ngSubmit)="adicionarParcela(parcela)">
              <p-fieldset legend="Parcela"  class="ui-g-12 ui-md-12 ui-lg-12">

                <div class="ui-fluid ui-g-4 ui-md-4" >
                  <label>Nome da AMF: </label>
                  <p-dropdown name="area" [options]="area" [autoWidth]="false" placeholder= "Selecione a parcela"
                   filter="true" required [(ngModel)]="parcelaSalva.cdArea.cdarea" ></p-dropdown>
                </div>

                <div class="ui-fluid ui-g-4 ui-md-4" >
                  <label>Tipo padrão de parcela: </label>
                  <p-dropdown name="listaTipoparcela" [options]="listaTipoparcela" [autoWidth]="false" placeholder= "Selecione a parcela"
                   filter="true" required  [(ngModel)]="parcelaSalva.cdTipoParcela.cdTipoParcela"></p-dropdown>
                </div>
                <div class="ui-g-3 ui-md-3 testemunha">
                   <p-checkbox name="yourName" value="YourValue" label="Testemunha" binary="true" [(ngModel)]="parcelaSalva.lgTestemunha"></p-checkbox>

                </div>

              </p-fieldset>

              <p-fieldset legend="Cordenadas"  class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                  <div class="ui-g-1 ui-md-1 ui-fluid ">
                    <label>Latitude</label><br />
                    <span><strong>Ponto 1</strong></span>
                    <input type="number" min="0" pInputText name="latitude2Grau" class="cordenadas">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTopTitle">
                    <label><strong>Ponto 2</strong></label>
                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTopTitle">
                    <label><strong>Ponto 3</strong></label>
                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTopTitle">
                    <label><strong>Ponto 4</strong></label>
                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                 </div>

                 <div class="ui-g-12 ui-md-12 ui-lg-12">
                  <div class="ui-g-1 ui-md-1 ui-fluid ">
                    <label>Longitude</label>
                    <input type="number" min="0" pInputText name="latitude2Grau">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">

                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao" >
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>
                  <div class="ui-g-1 ui-md-1 ui-fluid cordenadas-marginTop2">
                    <input type="text" pInputText name="longitude2Orientacao">
                  </div>

                 </div>
                 <h3>Observação</h3>
             <textarea rows="5" cols="150" pInputTextarea autoResize="autoResize" placeholder="Observação"></textarea>

             <div class="ui-g-12">
              <button pButton type="submit" label="salvar" ></button>
              <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
              </div>
             </p-fieldset>
           </form>

      </div>
</div>
 <app-parce-pesquisa></app-parce-pesquisa>
