<div class=" container">
  <div class="ui-g">
      <p-fieldset legend="Dados Cadastrais">
        <div class="ui-g">
          <div class="ui-g-12">
            <form  autocomplete="off" (ngSubmit)="consultar()">
                  <div class="ui-g-12 ui-fluid">
                      <label style="display: block">Pesquisar por forma de copa: </label>
                      <div class="ui-g-12 ui-md-7">
                          <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                              <input type="text" pInputText name="nmIluminacao" [(ngModel)]="filtro.nmFormaCopa" placeholder="Pesquisar">
                          </div>
                      </div>

                  </div>
              </form>
          </div>
        </div>
        <div class="ui-g">

            <div class="ui-g-12 ui-md-12">
                  <p-table [value]="copa" [responsive]="true" [paginator]="true" [rows]="filtro.size" [lazy]="true" #tabela
                   (onLazyLoad)="aoMudarPaginaCopa($event)" [totalRecords]="totalRegistroFormaCopa">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Id</th>
                        <th>Nome da Iluminação</th>
                        <th>Nome Abreviado</th>
                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-copa>
                      <tr>
                        <td>{{copa.cdFormaCopa}}</td>
                        <td>{{copa.nmFormaCopa}}</td>
                        <td>{{copa.nmFormaCopaAbreviatura}}</td>

                        <td><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"
                          (click)="confirmarExclusao(copa)"></button>
                        <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/forma-copa', copa.cdFormaCopa]"></button></td>
                      </tr>
                    </ng-template>
                  </p-table>


                </div>

              </div>

      </p-fieldset>


      </div>
</div>
