<div class="container">
  <div class="ui-g">
       <p-fieldset legend="legend" class="ui-md-12 ui-lg-12">
           <p-table  [value]="" [responsive]="true" [paginator]="true">
             <ng-template pTemplate="header" let-yourColumnArrayVaraible>
               <tr>
                 <th>Medicao</th>
                 <th>Classe Tamanho</th>
                 <th>Classe Floresta</th>
                 <th>Identificador</th>
                 <th>Responsável</th>

               </tr>
             </ng-template>
             <ng-template pTemplate="body" let-yourRowVaraible let-yourColumnArrayVaraible="columns">
               <tr>
                 <td *ngFor="let yourColumnVaraible of yourColumnArrayVaraible">
                 {{yourRowVaraible[yourColumnVaraible.field]}}
                 </td>
               </tr>
             </ng-template>
             <ng-template pTemplate="footer" let-yourColumnArrayVaraible>
               <tr>
                 <td *ngFor="let yourColumnVaraible of yourColumnArrayVaraible">
                   {{yourColumnVaraible.header}}
                 </td>
               </tr>
             </ng-template>

           </p-table>
       </p-fieldset>


    </div>
 </div>
