 <div class="ui-g">
    <div class="container">
      <form>
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

      <p-fieldset legend="Dados cadastrais" >
        <div class="ui-fluid ui-g-6 ui-md-4" >
          <label>AMF: </label>
          <p-dropdown name="listaTipoparcela"  [autoWidth]="false" placeholder= "Selecione a area"
           filter="true" required [options]="area"></p-dropdown>
        </div>
        <div class="ui-fluid ui-g-6 ui-md-4" >
          <label>Tipo Parcela: </label>
          <p-dropdown name="listaTipoparcela" [options]="listaTipoparcela" [autoWidth]="false" placeholder= "Selecione a parcela"
           filter="true" required ></p-dropdown>
        </div>

          <div class="ui-g-12 ui-md-2 ui-md-offset-1">
            <button pButton type="button" label="Identicadores e responsaveis pela subparcela selecionada" icon="pi pi-sitemap"></button>
          </div>

      </p-fieldset>
      <p-fieldset legend="Dados cadastrais">

            <div class="ui-g-12 ui-md-5 ui-fluid">
               <label>Subparcela:</label>
                 <input type="text" name="" pInputText placeholder="Nome da Subparcela">
            </div>


     </p-fieldset>
    </form>
    </div>

 </div>
 <app-subparcela-pesquisa></app-subparcela-pesquisa>
