<div class="container">
  <p-fieldset legend="Florestas Cadastradas">
    <div class="ui-g">
      <div class="ui-g-12">
          <form  autocomplete="on"  (ngSubmit)="pesquisaFloresta()">
              <div class="ui-g-12 ui-fluid">
                  <label style="display: block">Pesquisar o nome da Floresta: </label>
                  <div class="ui-g-12 ui-md-7">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                          <input type="text" pInputText name="nmClassefloresta" [(ngModel)]="filtro.nmClassefloresta"  placeholder="Pesquisar">
                      </div>
                  </div>

              </div>
          </form>
      </div>
    </div>

    <div class="ui-g-12">


      <p-dataList  [value]="floresta" [paginator]="true"  [rows]="filtro.size"  [lazy]="true" #tabela
      (onLazyLoad)="aoMudarPagina($event)" [totalRecords]="totalRegistros">
        <p-header>
            Classe Floresta
        </p-header>
        <ng-template let-floresta pTemplate="body">
            <div class="ui-g ui-fluid car-item">
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                  <img src ="{{floresta.enderecoImagem}}" height="175" width="140"  onerror="this.style.display='none'"/>
                </div>
                <div class="ui-g-12 ui-md-9 car-details">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-sm-6">Código: </div>
                        <div class="ui-g-10 ui-sm-6"><strong>{{floresta.cdClassefloresta}}</strong></div>

                        <div class="ui-g-2 ui-sm-6">Nome: </div>
                        <div class="ui-g-10 ui-sm-6"><strong>{{floresta.nmClassefloresta}}</strong></div>
                        <div class="ui-g-2 ui-sm-8">Exclusão/Edição</div>
                        <div class="ui-g-10 ui-sm-6"><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"
                          (click)="confirmarExclusao(floresta)"></button>
                          <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/floresta',floresta.cdClassefloresta]"></button>
                          <button pButton icon="pi pi-pencil" class="ui-button-secondary" (click)="showDialog(floresta)"  pButton icon="pi pi-search" pTooltip="vizualizar"  style="margin-left: 10px;"></button>
                        </div>

                        <p-dialog header="Title" [(visible)]="display">
                          <img src ="{{floresta.enderecoImagem}}"   onerror="this.style.display='none'"/>
                      </p-dialog>
                    </div>
                </div>
            </div>
        </ng-template>
      </p-dataList>
  </div>
</p-fieldset>





</div>
