<div class="container">
  <p-fieldset legend="Florestas Cadastradas">
    <div class="ui-g">
      <div class="ui-g-12">
          <form  autocomplete="on"  (ngSubmit)="pesquisaFloresta()">
              <div class="ui-g-12 ui-fluid">
                  <label style="display: block">Pesquisar o nome da Floresta: </label>
                  <div class="ui-g-12 ui-md-7">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                          <input type="text" pInputText name="nmClassefloresta" [(ngModel)]="filtro.nmClassefloresta"  placeholder="Pesquisar">
                      </div>
                  </div>

              </div>
          </form>
      </div>
    </div>

    <div class="ui-g">
      <p-table [value]="floresta" [paginator]="true"  [rows]="filtro.size" [responsive]="true" [lazy]="true" #tabela
       (onLazyLoad)="aoMudarPagina($event)" [totalRecords]="totalRegistros">
          <ng-template pTemplate="header">
              <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Imagem</th>
                <th></th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-floresta>
              <tr class="hoverAmf">
                <td>{{floresta.cdClassefloresta}}</td>
                <td>{{floresta.nmClassefloresta}}</td>
                <td>{{floresta.enderecoImagem}}</td>
              <td><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"
                (click)="confirmarExclusao(floresta)"></button>
              <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/floresta',floresta]"></button></td>
          </tr>
        </ng-template>
      </p-table>


  </div>
</p-fieldset>

</div>
