/* You can add global styles to this file, and also import other style files */


body {
  font-family:arial, Arial, Helvetica, sans-serif;
  color: #404C51,

}

label{
  font-weight: bold;
}

@media (min-width:1200px){
  .container{
    width: 1170px;
    margin: 0 auto;

  }
}

.col-acoes {
  margin-right:10px;
  text-align: center;
}



.login-page
{
    background-image: url('assets/error404.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 31%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;



}
.login-page h1
{
    font-weight: 300;
}
.login-page h1 small
{
    color: gray;
}
.login-page .form-group
{
    padding: 8px 0;
}
.login-page .form-content
{
    padding: 40px 0;
}

#maxlength {
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;

}
