<div class="ui-g">
  <div class="container">
    <div class="ui-g-12">
      <h1>{{editando ? 'Edição' : 'Cadastro'}}  Uso da Espécie</h1>
    </div>
          <p-fieldset legend="Cadastro nova pessoa" class="ui-g-12 ui-md-12">

            <form autocomplete="off" #usoEspecie="ngForm" (ngSubmit)="salvar(usoEspecie)">
              <div class="ui-g-12 ui-md-8 ui-fluid">
                <label>Nome: </label>
                <input type="text" name="nmUso" placeholder="Uso Especie" pInputText [(ngModel)]="usoEspecieSalva.nmUso" ></div>

                 <div class="ui-g-12 ui-md-4" style="margin-top: 19px;">
                  <p-selectButton [options]="selecao" [(ngModel)]="usoEspecieSalva.lgMadeira" name="lgMadeira" ></p-selectButton>
                 </div>



                  <div class="ui-g-12 ui-md-12">
                    <button pButton type="submit" label="Salvar" [disabled]="!usoEspecieSalva.nmUso"></button>
                    <button pButton type="reset" label="Limpar" class="ui-button-warning" style="margin-left: 10px;"></button>
                </div>
                <div *ngIf="editando" class="ui-g-12 ui-md-12">
                  <strong><a routerLink="/uso-especie/cadastro"><button type="button" pButton label="Sair da edição"></button></a></strong>
                </div>

            </form>


      </p-fieldset>
  </div>

</div>




<app-pesquisa-especie></app-pesquisa-especie>
