<div class=" container">
  <div class="ui-g">
      <p-fieldset legend="Dados Cadastrais">
        <div class="ui-g">
          <div class="ui-g-12">
            <form  autocomplete="off" >
                  <div class="ui-g-12 ui-fluid">
                      <label style="display: block">Pesquisar por Nome: </label>
                      <div class="ui-g-12 ui-md-7">
                          <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                              <input type="text" pInputText name="nmDano" placeholder="Pesquisar">
                          </div>
                      </div>

                  </div>
              </form>
          </div>
        </div>
        <div class="ui-g">

            <div class="ui-g-12 ui-md-12">
                  <p-table [value]="" [responsive]="true" [paginator]="true" [rows]="5" [lazy]="true" #tabela
                    [totalRecords]="">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Id</th>
                        <th>Qualidade do fuste</th>

                        <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-invContDano>
                      <tr>
                        <td>{{invContDano.cdDano}}</td>
                        <td>{{invContDano.nmDano}}</td>


                        <td><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"></button>
                        <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/tipo-amostra', invContDano.cdDano]"></button></td>
                      </tr>
                    </ng-template>
                  </p-table>


                </div>

              </div>

      </p-fieldset>


      </div>
</div>
