<div class="container">
  <p-panel>
        <p-header>Tratamento anterior e Tratamento atual:</p-header>
                    <form #cadtsAnterior="ngForm" (submit)="adicionarTsAtual(cadtsAnterior)">
                       <p-fieldset legend="Tratamento anteriores">

                         <div class="ui-g-6 ui-md-6 ui-fluid">
                           <label>Situações silviculturais permitidas em mediações anteriores:</label>
                             <p-dropdown name="cdTratamentoAnterior" filter="true" [options]="listaTs" [autoWidth]="false" [(ngModel)]="cadTsAtualTsAnteriorSalva.cdTratamentoAnterior.cdTratamento" placeholder= "Selecione a mediação anterior" required></p-dropdown>
                       </div>

                       <div class="ui-g-6 ui-md-6 ui-fluid">
                         <label>Situações silviculturais permitidas em mediações atuais:</label>
                           <p-dropdown name="cdTratamentotual" filter="true" [options]="listaTs" [autoWidth]="false" [(ngModel)]="cadTsAtualTsAnteriorSalva.cdTratamentotual.cdTratamento" placeholder= "Selecione a mediação Atual" required></p-dropdown>
                     </div>

                     <div class="ui-g-1  ui-md-1">
                         <button type="submit" pButton   label="Salvar" class="ui-button-success" [disabled]="!cadTsAtualTsAnteriorSalva.cdTratamentoAnterior.cdTratamento"></button>
                       </div>

                   </p-fieldset>
                 </form>

       </p-panel>
</div>

<app-tsatualtsanterior-pesquisa></app-tsatualtsanterior-pesquisa>
